header {
  background-color: #f5ba13;
  margin: auto -1.6rem;
  padding: 1.6rem 3.2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  font-size: 1.4rem;
  color: #344f55;
}

footer .copyright {
  font-size: 1.2rem;
  color: #ccc;
}

.loading,
.fetch-error {
  font-size: 1.5rem;
  margin-left: 2rem;
  margin-top: 3rem;
}

.fetch-error {
  color: rgb(166, 79, 79);
}

.logout {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 3rem auto auto;
  font-size: 2rem;
  font-weight: 600;
  color: #233337;
  padding: 0.5rem;
  outline: 0;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}

.logout:hover {
  background: #233337;
  color: #fff;
}

.user-info {
  font-size: 2rem;
  text-align: left;
  margin: 2rem auto auto 3rem;
}

@media screen and (max-width: 760px) {
  header h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  footer {
    font-size: 1.2rem;
  }

  .logout {
    font-size: 1.5rem;
  }

  .user-info {
    font-size: 1.5rem;
  }
}
